body {
    background-color: white;
    }

.shadow-box {
width: 400px;
height: 200px;
background-color: #77b5fe ;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
li {
float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover {
background-color: #111;
}